<%

page.title = <<_PAGETITLE_
    WebCards: Features
_PAGETITLE_

page.content = <<_PAGECONTENT_
    <h2>Features</h2>

    <p>Send webcards to all your friends with this amazing service!</p>

    <p>Choose between several different occassions for your WebCards:</p>
    
    <ul>
        <li>Dentist Appointment</li>
        <li>Open House</li>
        <li>Vet Appointment</li>
        <li>Valentine's Day</li>
    </ul>

_PAGECONTENT_

%>