<%

page.title = <<_PAGETITLE_
WebCards: Login Success
_PAGETITLE_

page.content = <<_PAGECONTENT_
<h2>Login Successful</h2>
<p>Congratulations!  You have logged in successfully.</p>

<p><a href="index.rhtml?p=logout">Logout</a></p>
_PAGECONTENT_

%>