<%

page.title = <<_PAGETITLE_
    WebCards: Reset Password
_PAGETITLE_

page.content = <<_PAGECONTENT_
    <h2>Thank You</h2>
    <p>Your request has been received.<br />If this is a valid account you will recieve an email shortly.</p>
_PAGECONTENT_

%>