<%

page.title = <<_PAGETITLE_
    WebCards: Reset Password
_PAGETITLE_

page.content = <<_PAGECONTENT_
    <h2>Reset Password Successful</h2>
    <p>Congratulations! You have reset your password successfully.</p>

    <p>Check your email. We will be sending a link to reset your password shortly.</p>
_PAGECONTENT_

%>