<%

page.title = <<_PAGETITLE_
WebCards: Login Success
_PAGETITLE_

page.content = <<_PAGECONTENT_
<h2>Password Reset</h2>
<p>Congratulations!  You have reset your password.</p>

<p><a href="index.rhtml?p=login">Please Login with your new credentials.</a></p>
_PAGECONTENT_

%>